.home-container {

}

.banner-image img{
    height: 1080px;
    width: 100%;
}


/* All section css goes here */

/* We are not creating separate file for each secton to reduce number of css files.
All sections are part of home component hence css for all sections is inside home.css */

/* Global Impact Section */

.global-impact-container {
    margin: 0rem 5rem 5rem 15rem;
    color: #181818;
}

.global-impact-container .title {
    font-size: 150px;
    font-weight: 500;
}

.global-impact-container .title .impact {
    font-size: 250px;
    font-weight: 600;
}

.global-impact-container .subtitle {
    margin-top: 100px;
    width: 1485px;
    height: 415px;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    text-align: left;
    color: #181818;

}

.global-impact-container .subtitle .para {
    margin-bottom: 40px;

}




/* The World We Want CSS Start */

.wrapper h1{
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}
.wrapper p{
    text-align: left;
    font-size: 18px;
}

.social-post-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-post-area{
    padding: 0 20px 20px;
}
.social-post-area-img{
    width: 350px;
    height: 350px;
}

/* The World We Want CSS End */


/* Good News Section CSS Start */
.news-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.news-area{
    padding: 0 20px 20px;
}

.news-img{
    width: 518px;
    height: 350px;
}

/* Good News Section CSS End */

/* What We Do Section CSS Start */

.whatwedo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.whatwedo-area{
    padding: 0 20px 20px;
}

.whatwedo-img{
    width: 500px;
    height: 750px;
}

/* What We Do Section CSS End */

/* Purpose Impact Section CSS Start */

.purpose-impact-container{
    background-image: url('../../images/purpose_impact.png');
}