.home-container {

}

.banner-image img{
    height: 100%;
    width: 100%;
}


/* All section css goes here */

/* We are not creating separate file for each secton to reduce number of css files.
All sections are part of home component hence css for all sections is inside home.css */

/* Global Impact Section */

.global-impact-container {
    margin: 2rem 5rem 2rem 5rem;
    color: #181818;

}

.global-impact-container .title {
    font-size: 120px;
    font-weight: lighter;
    font-family: 'Tusker-5700';
    line-height: 110%;

}

.global-impact-container .title .impact {
    font-size: 200px;
    font-family: 'Tusker-7700';
    line-height: 110%;

}

.global-impact-container .subtitle {
    margin-top: 80px;
    margin-right: 100px;
    font-family: 'URW-WIN-LIGHT';
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    text-align: left;
    color: #181818;
    line-height: 110%;

}

.global-impact-container .subtitle .para {
    margin-bottom: 40px;

}




/* The World We Want CSS Start */

.wrapper h1{
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}
.wrapper p{
    text-align: left;
    font-size: 18px;
}

.social-post-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-post-area{
    padding: 0 20px 20px;
}
.social-post-area-img{
    width: 350px;
    height: 350px;
}

/* The World We Want CSS End */


/* Good News Section CSS Start */
.news-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.news-area{
    padding: 0 20px 20px;
}

.news-img{
    width: 518px;
    height: 350px;
}

/* Good News Section CSS End */

/* What We Do Section CSS Start */

.whatwedo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.whatwedo-area{
    padding: 0 20px 20px;
}

.whatwedo-img{
    width: 500px;
    height: 750px;
}

/* What We Do Section CSS End */

/* Purpose Impact Section CSS Start */

.purpose-impact-container{
    background-image: url('../../images/purpose_impact.png');
}

/* 17 SDGs */
.sdgs-container {
    padding: 3rem 5rem 3rem 5rem;
    background-color: #181818;
}

.sdgs-container .title {
    margin-bottom: 5rem;
    color: #fff;
    font-size: 90px;
    font-family: 'Tusker-5500';
}

.sdgs {
    display: flex;
}
.sdgs .focused-sdg {
    width: 50%;
    padding-right: 2%;
    animation-name: focusedSDG;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

.focused-sdg img {
    width: 100%;
    height: 697px;
    object-fit: cover;

}

.focused-sdg .name {
    font-size: 55px;
    color: #FFF;
    font-family: 'Tusker-5500';
    padding-top: 15px;
}

.focused-sdg .description {
    color: #FFF;
    line-height: 150%;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'URW-WIN-LIGHT';
}

.sdgs .blurred-sdgs-container {
    width: 50%;
    display: flex;
    cursor: pointer;
}

.sdgs .blurred-sdg {
    width: 50%;
    padding-right: 4%;
}

.blurred-sdg img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.blurred-sdg .name {
    height: 50px;
    font-size: 16px;
    color: #FFF;
    padding-top: 10px;
    font-family: 'URW-WIN-LIGHT';
}

@keyframes focusedSDG {
    from {opacity:  0%;}
    to {opacity: 100%;}
}