
.header-container {
    position: fixed;
    width: 100%;
    margin-top: 2rem;
    z-index: 1;
}
.nav-container { 
    display: flex;
}

.logo{
    margin-right: auto;
}
.nav-area{
    justify-content: space-around;
    margin: 0rem;
    margin-right: 2rem;

}
.nav-area li  {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;

  }

.nav-area li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
  }

.nav-area li a img{
    height: 30px;
    width: 30px;
}

.burger{
    margin-left: 1rem;
    cursor: pointer;
}
.burger a img {
    height: 45px;
    width: 45px;
}
  

.side-menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    background-color: #F86445;
    right: -100vw;
    top: 0px;
    overflow-y: scroll;
    display: none;
}

.side-menu-items-container {
    font-size: 80px;
    font-family: 'Tusker-7700';
    line-height: 110%;
    color: #FFF;
    margin-top: 100px;
    margin-left: 100px;
}

.side-menu-item {
    margin-bottom: 40px;
    cursor: pointer;
}

.sidebar-subtitles-container {

}

.sidebar-subtitle {
    font-size: 50px;
    font-family: 'Tusker-5700';
    line-height: 110%;
    color: #FFF;
    margin-top: 50px;
    margin-left: 50px;
}

.side-menu-item a, a:visited {
    text-decoration: none;
    color: #FFF;
}

.scrolled{
    background:#191919;
    margin-top:0;
    transition: ease-in-out;
    transition-delay: .35ms;
}