
.header-container {
    position: fixed;
    width: 100%;
    margin-top: 2rem;
}
.nav-container { 
    display: flex;
}

.logo{
    margin-right: auto;
}
.nav-area{
    justify-content: space-around;
    margin: 0rem;
    margin-right: 2rem;

}
.nav-area li  {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;

  }

.nav-area li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
  }

.nav-area li a img{
    height: 30px;
    width: 30px;
}

.burger{
    margin-left: 1rem;
}
.burger a img {
    height: 45px;
    width: 45px;
}
  