/* .footer-container{
    position: -webkit-sticky;
    position: sticky;
    z-index: -1;
    bottom: 0;
} */
.footer {
    display: flex;
    flex-flow: row wrap;
/* padding: 50px; */
    color: #F5F5F5;
    padding: 150px 0px 50px 150px;
    background-color: #181818;
}

.r-footer{
    padding: 0rem 0rem 0rem 0rem;
}
.l-footer{
    padding: 0rem 0rem 0rem 0rem;
}

.footer > * {
    flex:  1 100%;
}

/* .l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
} */

.l-footer .f-title {
    width: 100%;
    font-size: 80px;
    font-family: 'Tusker-5700';
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 90px;

}
.r-footer .r-footer-title{
    width: 100%;
    font-size: 80px;
    font-family: 'Tusker-5700';
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 90px;
}
.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

/* .r-footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
} */


/* .r-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
} */

.media-box {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-between ;
    align-items: center;
    margin-left: auto;
}

.box a {
color: #999;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
    color: white;
    background: gray;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}
.b-footer p{
    margin-left: 5rem;
}

.l-footer p {
    font-family: 'URW-DIN-LIGHT';
    font-size: 36px;
    color: #F5F5F5;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}   

.r-footer p {
    font-family: 'URW-DIN-LIGHT';
    font-size: 36px;
    color: #F5F5F5;
    line-height: 38px;
    letter-spacing: 0px;
}   


/* .r-footer .social-footer a span{ 
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;

} */
.menu-footer .footer-nav{
    /* display: flex; */
    list-style: none;
    display: inline-block;
    /* justify-content: space-between ;
    align-items: center;
    margin-left: auto; */

}
.menu-footer{
    margin-right: 4rem;
    border-top: 2px solid;
    padding: 2rem 0rem 2rem 0rem; 
    display: none;
}
.menu-footer .footer-nav li a{
   color: white;
}
.menu-footer .footer-nav li {
    color: white;
    font-family: 'URW-WIN-LIGHT';
    font-size: 18px;
    padding-right: 21px;
    float:left;
 
 }



.social-footer{
    text-align: right;
    margin-right: 3rem;

}

.social-footer li{
    display: inline-block;
    list-style: none;
    margin: 0px 9px;

}
.social-footer li img{
    width: 20px;
    height: 20px;
}


/* Button Css */

.subscribe-form{
    margin-top: 20px;
}
.subscribe-form input[type="text"]{
    width: 55%;
}
.subscribe-form .button {
    border-radius: 30px;
    background-color: #000000;
    border: 3px solid #f86445;
    color: #F5F5F5FFF;
    text-align: center;
    font-size: 16px;
    padding: 4px;
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 10px;
  }

  .subscribe-form .button:hover { 
    border: 3px solid #f86445;
    background-color: #f86445;
    color: #F5F5F5;
  }


@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 0.65 0px;
}

.r-footer {
flex: 0.3 0px;
}
}


.footer-copyright {
    height: 90px;
    display: flex;
    align-items: center;
    font-family: 'URW-DIN-MEDIUM';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    background-color: #292929;
    color: #F5F5F5;
    padding-left: 150px;
    border-top: 1px solid grey;
}