/* .footer-container{
    position: -webkit-sticky;
    position: sticky;
    z-index: -1;
    bottom: 0;
} */

.footer {
display: flex;
flex-flow: row wrap;
/* padding: 50px; */
color: #fff;
background-color: black;
border-left: 80px solid transparent;
}

.r-footer{
    padding: 6rem 0rem 4rem 0rem;
}
.l-footer{
    padding: 6rem 0rem 4rem 0rem;
}

.footer > * {
flex:  1 100%;
}

/* .l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
} */

.l-footer .f-title {
    width: 70%;
    font-size: 45px;
    font-weight: lighter;
    font-family: 'Tusker-5700';
    text-transform: uppercase;
}
.r-footer .r-footer-title{
    width: 30%;
    font-size: 45px;
    font-weight: lighter;
    font-family: 'Tusker-5700';
    text-transform: uppercase;

}
.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

/* .r-footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
} */


/* .r-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
} */

.media-box {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-between ;
    align-items: center;
    margin-left: auto;
}

.box a {
color: #999;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
    color: white;
    background: gray;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}
.b-footer p{
    margin-left: 5rem;
}

.l-footer p {
    font-family: 'URW-WIN-LIGHT';
    font-size: 36px;
    color: #fff;
}   

.r-footer p {
    font-family: 'URW-WIN-LIGHT';
    font-size: 36px;
    color: #fff;
    line-height: 0px;
}   


/* .r-footer .social-footer a span{ 
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;

} */
.menu-footer .footer-nav{
    /* display: flex; */
    list-style: none;
    display: inline-block;
    /* justify-content: space-between ;
    align-items: center;
    margin-left: auto; */

}
.menu-footer{
    margin-right: 4rem;
    border-top: 2px solid;
    padding: 2rem 0rem 2rem 0rem;
}
.menu-footer .footer-nav li a{
   color: white;
}
.menu-footer .footer-nav li {
    color: white;
    font-family: 'URW-WIN-LIGHT';
    font-size: 18px;
    padding-right: 21px;
    float:left;
 
 }



.social-footer{
    text-align: right;
    margin-right: 3rem;

}

.social-footer li{
    display: inline-block;
    list-style: none;
    margin: 0px 9px;

}
.social-footer li img{
    width: 20px;
    height: 20px;
}


/* Button Css */
.subscribe-form input[type="text"]{
    width: 55%;
}
.subscribe-form .button {
    border-radius: 30px;
    background-color: #000000;
    border: 2px solid orange;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 4px;
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 13px;
  }


@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 1 0px;
}
}
